.webcam-feed-container {
  width: 100%;
  padding: 10px;
}

.webcam-feed {
  width: 100%;
  height: auto;
}

.overlay-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}


.lens-selection-container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.lens-image-wrapper {
  position: relative;
  margin: 5px 0;
  cursor: pointer;
}
.lens-image {
  max-width: 50px; /* Ensure images don't exceed container width */
  height: auto; /* Maintain aspect ratio */
}

@media (max-width: 768px) { /* Adjust max-width based on screen width */
  .lens-image {
    max-width: 40px; /* Set a smaller max-width for small screens */
  }
}

.shadow-box {
  position: absolute;
  top: 0;
  right: 0px;
  width: 50px;
  height: 50px;
  background-color: rgba(46, 46, 46, 0.5);
  border-radius: 5px;
  display: none;
}

.lens-image-wrapper.selected .shadow-box {
  display: block;
}

.lens-image-wrapper:hover .lens-image {
  transform: scale(1.1);
}
